.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slider img{
    width: 70%;
    display: none;
}
img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}
.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #7ead8e;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.logo {
    height: 50px; /* Adjust the height of the logo */
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.container {
    padding: 20px;
}
.welcome, .about, .contact {
    margin-bottom: 20px;
}
footer {
    background-color: #06682b1e;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.contact form {
    display: flex;
    flex-direction: column;
}
.contact form input, .contact form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact form button {
    padding: 2px;
    border: none;
    background-color: #3fca90;
    color: white;
    border-radius: 1px;
    cursor: pointer;
}